<link rel="stylesheet" href="css/header.css" />
<nav class="nav-container top">
  <ul class="nav-elements-container">
    <li>
      <a href="/ml">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Service</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
  <% if(loggedIn){ %>
  <a class="btn" href="/auth/logout">Logout</a>
  <% }else{ %>
  <a class="btn" href="/auth/google">Login</a>
  <% } %>
</nav>
