<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crowdex</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
    <script src="./js/index.js" defer></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/header.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav-container top">
        <ul class="nav-elements-container">
          <li>
            <a href="/ml">Home</a>
          </li>
          <li>
            <a href="/monitor">Monitor</a>
          </li>
          <li>
            <a href="/ml">Predict</a>
          </li>
        </ul>
        <% if(loggedIn){ %>
        <a class="btn" href="/auth/logout">Logout</a>
        <% }else{ %>
        <a class="btn" href="/auth/google">Login</a>
        <% } %>
      </nav>
    </header>
    <div class="view">
      <h1>You can expect <%= count %> people on <%= date %></h1>
    </div>
    <footer>
      <span>Made with <span>❤</span> by coding saints</span>
    </footer>
  </body>
</html>
