<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitor the crowd</title>
    <link rel="stylesheet" href="css/animate2.css" />
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
    <ul>
      <a href="/index.html"><button>Home</button></a>
      <a href="#"><button>Contact</button></a>
    </ul>
    <center>
      <pre><h1 class="title animate__animated animate__backInLeft">               Crowdex</h1></pre>
    </center>
  </head>
  <body>
    <br /><br /><br /><br /><br />
    <center>
      <h2><pre id='mall'><%= user %></pre></h2>

      <table class="center">
        <tr>
          <th>People Entered</th>
          <th>People Exited</th>
        </tr>
        <tr>
          <td><pre id="gotin"></pre></td>
          <td><pre id="gotout"></pre></td>
        </tr>
      </table>
      <h3>Number of people in the Mall:</h3>
      <pre id="people"></pre>
    </center>
    <script type="text/javascript" src="js/monitor.js"></script>
  </body>
</html>
